.hero {
  min-height: 80vh;
  background: #333 url(../img/showcase.png) no-repeat center center / cover;
  background-blend-mode: overlay;
  color: #fff;
}

.container {
  min-height: inherit;
}

.hero .flex {
  min-height: inherit;
  width: min(100%, 600px);
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  font-size: clamp(2rem, 0.75rem + 2vw, 3rem);
  font-weight: 400;
  /* text-align: center; */
  line-height: 0.9;
  margin-bottom: 1.5rem;
}

.subtitle {
  font-size: clamp(1.125rem, 0.25rem + 1vw, 1.75rem);
  margin-bottom: 1.5rem;
}

.form .row {
  display: flex;
}

@media (max-width: 680px) {
  .form .row {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* align-items: center; */
  }
}

.form-group {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding: 0.25rem 0.75rem;
  background: #f4f4f4;
  color: #333;
}

.form-group input {
  border: 0;
  outline: 0;
  padding: 0.75rem 1.5rem;
  background: transparent;
}

.form-group button {
  width: max-content;
  color: #f4f4f4;
  background-color: inherit;
  outline: none;
  border: none;
  font-size: 1rem;
  font-weight: 600;
}

.form-group:nth-last-of-type(1) {
  background: #2fbb86;
}

.service {
  font-size: 16px;
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-gap: 1rem;
}

.para p {
  color: #333;
  font-weight: bold;
  margin-left: 1rem;
}

@media (min-width: 600px) {
  .service {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1020px) {
  .service {
    grid-template-columns: repeat(6, 1fr);
  }
}

.service li {
  text-align: center;

  margin-top: 1rem;
  /* grid-template-columns: repeat(3, 1fr); */
}

.service li a:hover {
  color: #27a9e1;
}

.service-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.service-link li a {
  margin-top: 1rem;
}
.colr {
  color: #27a9e1;
}

.centerline {
  width: 90%;
  height: 1px;
  border: 1px solid rgba(153, 153, 153, 0.253);
  margin: 2rem auto;
}

.browse h1,
h3 {
  text-align: center;
}

.img img {
  width: 30rem;
  /* height: 50rem; */
}

.hire {
  display: grid;
  grid-template-columns: auto auto;
  padding: 2rem;
}
@media (max-width: 680px) {
  .hire {
    grid-template-columns: repeat(1, 1fr);
  }
}

.leftside {
  flex: 1;
}

.container {
  display: flex;
  padding: 2rem;
}

.rightside {
  flex: 1;
  padding: 2rem;
  margin: 2rem;
}

.rightside h1 {
  color: #000;
}
.rightside h3 {
  text-align: left;
  color: #000;
}

.rightside p {
  color: #333;
  font-size: 20px;
}

.cards {
  margin: 5rem 0;
}

.cards img {
  display: block;
  margin: 0 auto;
}

.testimonial-card {
  position: relative;
  border-radius: 0.25rem;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1);
  max-width: 400px;
}

.testimonial-card__image {
  position: absolute;
  left: 50%;
  top: -18%;
  transform: translate(-50%, 0);
  width: 100px;
  border-radius: 50%;
  border: 5px solid #fff;
  object-fit: cover;
}

.testimonial-card__body {
  padding: 4rem 2rem 3rem;
}

.testimonial-card__body::before {
  content: open-quote;
}

.testimonial-card__body::after {
  content: close-quote;
}

.testimonial-card__footer {
  background: #27a9e1;
  color: #fff;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
  font-size: 1.25rem;
}

.testimonial-card__name,
.testimonial-card__location {
  margin: 0;
}

.testimonial-card__ratings .stars-outer {
  position: relative;
  display: inline-block;
}

.testimonial-card__ratings .stars-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
}

.testimonial-card__ratings .stars-outer::before,
.testimonial-card__ratings .stars-inner::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #ccc;
}

.testimonial-card__ratings .stars-inner::before {
  color: #f8ce0b;
}

.card-container {
  max-width: 1100px;
  margin-inline: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  row-gap: 5rem;
  column-gap: 1rem;
  place-items: center;
  margin-bottom: 3rem;
}

/* Last index section  before footer */
.getStarted {
  background: url("https://homestars.com/images/homepage/Home%20Pro%20BG%20Image.png")
    no-repeat center center/cover;
  padding: 2rem 0;
  text-align: center;
}

.getStarted h3 {
  font-size: 30px;
  font-weight: lighter;
  color: #fff;
}
.getStarted p {
  color: #fff;
}
