.search {
  margin-top: 4rem;
  margin-bottom: 6rem;
  text-align: center;
}

.search h1 {
  color: #222;
  font-weight: bold;
}

.search input {
  width: 40%;
  padding: 0.75rem 1.5rem;
  margin-right: 1rem;
  outline: none;
  font-size: 1rem;
}

.form {
  display: flex;
  justify-content: center;
}

.icon {
  font-size: 1.5rem;
}

button {
  width: 2.75rem;
  border: none;
  border-radius: 0.25rem;
  background-color: #27a9e1;
}
