<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/Utilities.css" />
    <link rel="stylesheet" href="../css/categories.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <title>Home Stars | Browse Categories</title>
  </head>
  <body>
    <nav-component></nav-component>
    <h1>Service Providers in Toronto, Ontario</h1>
    <p>
      Looking for a trusted company in Toronto for your next home improvement
      project? Choose from thousands of verified and reviewed home service pros
      that are eager to help.
    </p>
    <div class="main-container">
      <div class="container">
        <div class="category-heading">
          Additions, Construction & Renovations
        </div>
        <ul class="category-list">
          <li>
            <a
              alt="Basement Renovation companies and contractors in Toronto"
              href="/on/toronto/basement-renovation"
            >
              <i class="fa-solid fa-tv"></i
              ><span class="">Basement Renovation</span>
            </a>
          </li>
          <li>
            <a
              alt="Bathroom Renovation companies and contractors in Toronto"
              href="/on/toronto/bathroom-renovation"
            >
              <i class="fa-solid fa-tv"></i
              ><span class="">Bathroom Renovation</span>
            </a>
          </li>
          <li>
            <a
              alt="Bathroom Renovation companies and contractors in Toronto"
              href="/on/toronto/bathroom-renovation"
            >
              <i class="fa-solid fa-tv"></i
              ><span class="">Bathroom Renovation</span>
            </a>
          </li>
          <li>
            <a
              alt="Bathroom Renovation companies and contractors in Toronto"
              href="/on/toronto/bathroom-renovation"
            >
              <i class="fa-solid fa-tv"></i
              ><span class="">Bathroom Renovation</span>
            </a>
          </li>
          <li>
            <a
              alt="Bathroom Renovation companies and contractors in Toronto"
              href="/on/toronto/bathroom-renovation"
            >
              <i class="fa-solid fa-tv"></i
              ><span class="">Bathroom Renovation</span>
            </a>
          </li>
          <li>
            <a
              alt="Bathroom Renovation companies and contractors in Toronto"
              href="/on/toronto/bathroom-renovation"
            >
              <i class="fa-solid fa-tv"></i
              ><span class="">Bathroom Renovation</span>
            </a>
          </li>
          <li>
            <a
              alt="Bathroom Renovation companies and contractors in Toronto"
              href="/on/toronto/bathroom-renovation"
            >
              <span class="">Bathroom Renovation</span>
            </a>
          </li>
          <li>
            <a
              alt="Bathroom Renovation companies and contractors in Toronto"
              href="/on/toronto/bathroom-renovation"
            >
              <i class="fa-solid fa-tv"></i
              ><span class="">Bathroom Renovation</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="container">
        <div class="category-heading">Chimney Build &amp; Repair</div>
        <ul class="category-list">
          <li>
            <a
              alt="Bathroom Renovation companies and contractors in Toronto"
              href="/on/toronto/bathroom-renovation"
            >
              <i class="fa-solid fa-tv"></i
              ><span class="">Bathroom Renovation</span>
            </a>
          </li>
          <li>
            <a
              alt="Bathroom Renovation companies and contractors in Toronto"
              href="/on/toronto/bathroom-renovation"
            >
              <i class="fa-solid fa-tv"></i
              ><span class="">Bathroom Renovation</span>
            </a>
          </li>
          <li>
            <a
              alt="Bathroom Renovation companies and contractors in Toronto"
              href="/on/toronto/bathroom-renovation"
            >
              <i class="fa-solid fa-tv"></i
              ><span class="">Bathroom Renovation</span>
            </a>
          </li>
          <li>
            <a
              alt="Bathroom Renovation companies and contractors in Toronto"
              href="/on/toronto/bathroom-renovation"
            >
              <i class="fa-solid fa-tv"></i
              ><span class="">Bathroom Renovation</span>
            </a>
          </li>
          <li>
            <a
              alt="Bathroom Renovation companies and contractors in Toronto"
              href="/on/toronto/bathroom-renovation"
            >
              <i class="fa-solid fa-tv"></i
              ><span class="">Bathroom Renovation</span>
            </a>
          </li>
          <li>
            <a
              alt="Bathroom Renovation companies and contractors in Toronto"
              href="/on/toronto/bathroom-renovation"
            >
              <i class="fa-solid fa-tv"></i
              ><span class="">Bathroom Renovation</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="container">
        <div class="category-heading">
          Additions, Construction & Renovations
        </div>
        <ul class="category-list">
          <li>
            <a
              alt="Basement Renovation companies and contractors in Toronto"
              href="/on/toronto/basement-renovation"
            >
              <i class="fa-solid fa-bread-slice-butter"></i
              ><span class="">Basement Renovation</span>
            </a>
          </li>
          <li>
            <a
              alt="Bathroom Renovation companies and contractors in Toronto"
              href="/on/toronto/bathroom-renovation"
            >
              <i class="fa-solid fa-bread-slice-butter"></i
              ><span class="">Basement Renovation</span>
            </a>
          </li>
          <li>
            <a
              alt="Bathroom Renovation companies and contractors in Toronto"
              href="/on/toronto/bathroom-renovation"
            >
              <i class="fa-solid fa-bread-slice-butter"></i
              ><span class="">Basement Renovation</span>
            </a>
          </li>
          <li>
            <a
              alt="Bathroom Renovation companies and contractors in Toronto"
              href="/on/toronto/bathroom-renovation"
            >
              <i class="fa-solid fa-bread-slice-butter"></i
              ><span class="">Basement Renovation</span>
            </a>
          </li>
          <li>
            <a
              alt="Bathroom Renovation companies and contractors in Toronto"
              href="/on/toronto/bathroom-renovation"
            >
              <i class="fa-solid fa-bread-slice-butter"></i
              ><span class="">Basement Renovation</span>
            </a>
          </li>
          <li>
            <a
              alt="Bathroom Renovation companies and contractors in Toronto"
              href="/on/toronto/bathroom-renovation"
            >
              <i class="fa-solid fa-bread-slice-butter"></i
              ><span class="">Basement Renovation</span>
            </a>
          </li>
          <li>
            <a
              alt="Bathroom Renovation companies and contractors in Toronto"
              href="/on/toronto/bathroom-renovation"
            >
              <i class="fa-solid fa-bread-slice-butter"></i
              ><span class="">Basement Renovation</span>
            </a>
          </li>
          <li>
            <a
              alt="Bathroom Renovation companies and contractors in Toronto"
              href="/on/toronto/bathroom-renovation"
            >
              <i class="fa-solid fa-bread-slice-butter"></i
              ><span class="">Basement Renovation</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="container">
        <div class="category-heading">Chimney Build &amp; Repair</div>
        <ul class="category-list">
          <li>
            <a
              alt="Bathroom Renovation companies and contractors in Toronto"
              href="/on/toronto/bathroom-renovation"
            >
              <i class="fa-solid fa-bread-slice-butter"></i
              ><span class="">Basement Renovation</span>
            </a>
          </li>
          <li>
            <a
              alt="Bathroom Renovation companies and contractors in Toronto"
              href="/on/toronto/bathroom-renovation"
            >
              <i class="fa-solid fa-bread-slice-butter"></i
              ><span class="">Basement Renovation</span>
            </a>
          </li>
          <li>
            <a
              alt="Bathroom Renovation companies and contractors in Toronto"
              href="/on/toronto/bathroom-renovation"
            >
              <i class="fa-solid fa-bread-slice-butter"></i
              ><span class="">Basement Renovation</span>
            </a>
          </li>
          <li>
            <a
              alt="Bathroom Renovation companies and contractors in Toronto"
              href="/on/toronto/bathroom-renovation"
            >
              <i class="fa-solid fa-bread-slice-butter"></i
              ><span class="">Basement Renovation</span>
            </a>
          </li>
          <li>
            <a
              alt="Bathroom Renovation companies and contractors in Toronto"
              href="/on/toronto/bathroom-renovation"
            >
              <i class="fa-solid fa-bread-slice-butter"></i
              ><span class="">Basement Renovation</span>
            </a>
          </li>
          <li>
            <a
              alt="Bathroom Renovation companies and contractors in Toronto"
              href="/on/toronto/bathroom-renovation"
            >
              <i class="fa-solid fa-bread-slice-butter"></i
              ><span class="">Basement Renovation</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="container">
        <div class="category-heading">
          Additions, Construction & Renovations
        </div>
        <ul class="category-list">
          <li>
            <a
              alt="Basement Renovation companies and contractors in Toronto"
              href="/on/toronto/basement-renovation"
            >
              <i class="fa-solid fa-tv"></i
              ><span class="">Basement Renovation</span>
            </a>
          </li>
          <li>
            <a
              alt="Bathroom Renovation companies and contractors in Toronto"
              href="/on/toronto/bathroom-renovation"
            >
              <i class="fa-solid fa-tv"></i
              ><span class="">Bathroom Renovation</span>
            </a>
          </li>
          <li>
            <a
              alt="Bathroom Renovation companies and contractors in Toronto"
              href="/on/toronto/bathroom-renovation"
            >
              <i class="fa-solid fa-tv"></i
              ><span class="">Bathroom Renovation</span>
            </a>
          </li>
          <li>
            <a
              alt="Bathroom Renovation companies and contractors in Toronto"
              href="/on/toronto/bathroom-renovation"
            >
              <i class="fa-solid fa-tv"></i
              ><span class="">Bathroom Renovation</span>
            </a>
          </li>
          <li>
            <a
              alt="Bathroom Renovation companies and contractors in Toronto"
              href="/on/toronto/bathroom-renovation"
            >
              <i class="fa-solid fa-tv"></i
              ><span class="">Bathroom Renovation</span>
            </a>
          </li>
          <li>
            <a
              alt="Bathroom Renovation companies and contractors in Toronto"
              href="/on/toronto/bathroom-renovation"
            >
              <i class="fa-solid fa-tv"></i
              ><span class="">Bathroom Renovation</span>
            </a>
          </li>
          <li>
            <a
              alt="Bathroom Renovation companies and contractors in Toronto"
              href="/on/toronto/bathroom-renovation"
            >
              <span class="">Bathroom Renovation</span>
            </a>
          </li>
          <li>
            <a
              alt="Bathroom Renovation companies and contractors in Toronto"
              href="/on/toronto/bathroom-renovation"
            >
              <i class="fa-solid fa-tv"></i
              ><span class="">Bathroom Renovation</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="container">
        <div class="category-heading">Chimney Build &amp; Repair</div>
        <ul class="category-list">
          <li>
            <a
              alt="Bathroom Renovation companies and contractors in Toronto"
              href="/on/toronto/bathroom-renovation"
            >
              <i class="fa-solid fa-tv"></i
              ><span class="">Bathroom Renovation</span>
            </a>
          </li>
          <li>
            <a
              alt="Bathroom Renovation companies and contractors in Toronto"
              href="/on/toronto/bathroom-renovation"
            >
              <i class="fa-solid fa-tv"></i
              ><span class="">Bathroom Renovation</span>
            </a>
          </li>
          <li>
            <a
              alt="Bathroom Renovation companies and contractors in Toronto"
              href="/on/toronto/bathroom-renovation"
            >
              <i class="fa-solid fa-tv"></i
              ><span class="">Bathroom Renovation</span>
            </a>
          </li>
          <li>
            <a
              alt="Bathroom Renovation companies and contractors in Toronto"
              href="/on/toronto/bathroom-renovation"
            >
              <i class="fa-solid fa-tv"></i
              ><span class="">Bathroom Renovation</span>
            </a>
          </li>
          <li>
            <a
              alt="Bathroom Renovation companies and contractors in Toronto"
              href="/on/toronto/bathroom-renovation"
            >
              <i class="fa-solid fa-tv"></i
              ><span class="">Bathroom Renovation</span>
            </a>
          </li>
          <li>
            <a
              alt="Bathroom Renovation companies and contractors in Toronto"
              href="/on/toronto/bathroom-renovation"
            >
              <i class="fa-solid fa-tv"></i
              ><span class="">Bathroom Renovation</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="container">
        <div class="category-heading">
          Additions, Construction & Renovations
        </div>
        <ul class="category-list">
          <li>
            <i class="fa-solid fa-bread-slice"></i>
            <a
              alt="Basement Renovation companies and contractors in Toronto"
              href="/on/toronto/basement-renovation"
            >
              <i class="fa-solid fa-bread-slice-butter"></i
              ><span class="">Basement Renovation</span>
            </a>
          </li>
          <li>
            <i class="fa-solid fa-bread-slice"></i>
            <a
              alt="Bathroom Renovation companies and contractors in Toronto"
              href="/on/toronto/bathroom-renovation"
            >
              <i class="fa-solid fa-bread-slice-butter"></i
              ><span class="">Basement Renovation</span>
            </a>
          </li>
          <li>
            <i class="fa-solid fa-bread-slice"></i>
            <a
              alt="Bathroom Renovation companies and contractors in Toronto"
              href="/on/toronto/bathroom-renovation"
            >
              <i class="fa-solid fa-bread-slice-butter"></i
              ><span class="">Basement Renovation</span>
            </a>
          </li>
          <li>
            <i class="fa-solid fa-bread-slice"></i>
            <a
              alt="Bathroom Renovation companies and contractors in Toronto"
              href="/on/toronto/bathroom-renovation"
            >
              <i class="fa-solid fa-bread-slice-butter"></i
              ><span class="">Basement Renovation</span>
            </a>
          </li>
          <li>
            <i class="fa-solid fa-bread-slice"></i>
            <a
              alt="Bathroom Renovation companies and contractors in Toronto"
              href="/on/toronto/bathroom-renovation"
            >
              <i class="fa-solid fa-bread-slice-butter"></i
              ><span class="">Basement Renovation</span>
            </a>
          </li>
          <li>
            <i class="fa-solid fa-bread-slice"></i>
            <a
              alt="Bathroom Renovation companies and contractors in Toronto"
              href="/on/toronto/bathroom-renovation"
            >
              <i class="fa-solid fa-bread-slice-butter"></i
              ><span class="">Basement Renovation</span>
            </a>
          </li>
          <li>
            <i class="fa-solid fa-bread-slice"></i>
            <a
              alt="Bathroom Renovation companies and contractors in Toronto"
              href="/on/toronto/bathroom-renovation"
            >
              <i class="fa-solid fa-bread-slice-butter"></i
              ><span class="">Basement Renovation</span>
            </a>
          </li>
          <li>
            <i class="fa-solid fa-bread-slice"></i>
            <a
              alt="Bathroom Renovation companies and contractors in Toronto"
              href="/on/toronto/bathroom-renovation"
            >
              <i class="fa-solid fa-bread-slice-butter"></i
              ><span class="">Basement Renovation</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="container">
        <div class="category-heading">Chimney Build &amp; Repair</div>
        <ul class="category-list">
          <li>
            <i class="fa-solid fa-bread-slice"></i>
            <a
              alt="Bathroom Renovation companies and contractors in Toronto"
              href="/on/toronto/bathroom-renovation"
            >
              <i class="fa-solid fa-bread-slice-butter"></i
              ><span class="">Basement Renovation</span>
            </a>
          </li>
          <li>
            <i class="fa-solid fa-bread-slice"></i>
            <a
              alt="Bathroom Renovation companies and contractors in Toronto"
              href="/on/toronto/bathroom-renovation"
            >
              <i class="fa-solid fa-bread-slice-butter"></i
              ><span class="">Basement Renovation</span>
            </a>
          </li>
          <li>
            <i class="fa-solid fa-bread-slice"></i>
            <a
              alt="Bathroom Renovation companies and contractors in Toronto"
              href="/on/toronto/bathroom-renovation"
            >
              <i class="fa-solid fa-bread-slice-butter"></i
              ><span class="">Basement Renovation</span>
            </a>
          </li>
          <li>
            <i class="fa-solid fa-bread-slice"></i>
            <a
              alt="Bathroom Renovation companies and contractors in Toronto"
              href="/on/toronto/bathroom-renovation"
            >
              <i class="fa-solid fa-bread-slice-butter"></i
              ><span class="">Basement Renovation</span>
            </a>
          </li>
          <li>
            <i class="fa-solid fa-bread-slice"></i>
            <a
              alt="Bathroom Renovation companies and contractors in Toronto"
              href="/on/toronto/bathroom-renovation"
            >
              <i class="fa-solid fa-bread-slice-butter"></i
              ><span class="">Basement Renovation</span>
            </a>
          </li>
          <li>
            <i class="fa-solid fa-bread-slice"></i>
            <a
              alt="Bathroom Renovation companies and contractors in Toronto"
              href="/on/toronto/bathroom-renovation"
            >
              <i class="fa-solid fa-bread-slice-butter"></i
              ><span class="">Basement Renovation</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="container">
        <div class="category-heading">
          Additions, Construction & Renovations
        </div>
        <ul class="category-list">
          <li>
            <a
              alt="Basement Renovation companies and contractors in Toronto"
              href="/on/toronto/basement-renovation"
            >
              <i class="fa-solid fa-tv"></i
              ><span class="">Basement Renovation</span>
            </a>
          </li>
          <li>
            <a
              alt="Bathroom Renovation companies and contractors in Toronto"
              href="/on/toronto/bathroom-renovation"
            >
              <i class="fa-solid fa-tv"></i
              ><span class="">Bathroom Renovation</span>
            </a>
          </li>
          <li>
            <a
              alt="Bathroom Renovation companies and contractors in Toronto"
              href="/on/toronto/bathroom-renovation"
            >
              <i class="fa-solid fa-tv"></i
              ><span class="">Bathroom Renovation</span>
            </a>
          </li>
          <li>
            <a
              alt="Bathroom Renovation companies and contractors in Toronto"
              href="/on/toronto/bathroom-renovation"
            >
              <i class="fa-solid fa-tv"></i
              ><span class="">Bathroom Renovation</span>
            </a>
          </li>
          <li>
            <a
              alt="Bathroom Renovation companies and contractors in Toronto"
              href="/on/toronto/bathroom-renovation"
            >
              <i class="fa-solid fa-tv"></i
              ><span class="">Bathroom Renovation</span>
            </a>
          </li>
          <li>
            <a
              alt="Bathroom Renovation companies and contractors in Toronto"
              href="/on/toronto/bathroom-renovation"
            >
              <i class="fa-solid fa-tv"></i
              ><span class="">Bathroom Renovation</span>
            </a>
          </li>
          <li>
            <a
              alt="Bathroom Renovation companies and contractors in Toronto"
              href="/on/toronto/bathroom-renovation"
            >
              <span class="">Bathroom Renovation</span>
            </a>
          </li>
          <li>
            <a
              alt="Bathroom Renovation companies and contractors in Toronto"
              href="/on/toronto/bathroom-renovation"
            >
              <i class="fa-solid fa-tv"></i
              ><span class="">Bathroom Renovation</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="container">
        <div class="category-heading">Chimney Build &amp; Repair</div>
        <ul class="category-list">
          <li>
            <a
              alt="Bathroom Renovation companies and contractors in Toronto"
              href="/on/toronto/bathroom-renovation"
            >
              <i class="fa-solid fa-tv"></i
              ><span class="">Bathroom Renovation</span>
            </a>
          </li>
          <li>
            <a
              alt="Bathroom Renovation companies and contractors in Toronto"
              href="/on/toronto/bathroom-renovation"
            >
              <i class="fa-solid fa-tv"></i
              ><span class="">Bathroom Renovation</span>
            </a>
          </li>
          <li>
            <a
              alt="Bathroom Renovation companies and contractors in Toronto"
              href="/on/toronto/bathroom-renovation"
            >
              <i class="fa-solid fa-tv"></i
              ><span class="">Bathroom Renovation</span>
            </a>
          </li>
          <li>
            <a
              alt="Bathroom Renovation companies and contractors in Toronto"
              href="/on/toronto/bathroom-renovation"
            >
              <i class="fa-solid fa-tv"></i
              ><span class="">Bathroom Renovation</span>
            </a>
          </li>
          <li>
            <a
              alt="Bathroom Renovation companies and contractors in Toronto"
              href="/on/toronto/bathroom-renovation"
            >
              <i class="fa-solid fa-tv"></i
              ><span class="">Bathroom Renovation</span>
            </a>
          </li>
          <li>
            <a
              alt="Bathroom Renovation companies and contractors in Toronto"
              href="/on/toronto/bathroom-renovation"
            >
              <i class="fa-solid fa-tv"></i
              ><span class="">Bathroom Renovation</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="container">
        <div class="category-heading">
          Additions, Construction & Renovations
        </div>
        <ul class="category-list">
          <li>
            <a
              alt="Basement Renovation companies and contractors in Toronto"
              href="/on/toronto/basement-renovation"
            >
              <i class="fa-solid fa-bread-slice-butter"></i
              ><span class="">Basement Renovation</span>
            </a>
          </li>
          <li>
            <a
              alt="Bathroom Renovation companies and contractors in Toronto"
              href="/on/toronto/bathroom-renovation"
            >
              <i class="fa-solid fa-bread-slice-butter"></i
              ><span class="">Basement Renovation</span>
            </a>
          </li>
          <li>
            <a
              alt="Bathroom Renovation companies and contractors in Toronto"
              href="/on/toronto/bathroom-renovation"
            >
              <i class="fa-solid fa-bread-slice-butter"></i
              ><span class="">Basement Renovation</span>
            </a>
          </li>
          <li>
            <a
              alt="Bathroom Renovation companies and contractors in Toronto"
              href="/on/toronto/bathroom-renovation"
            >
              <i class="fa-solid fa-bread-slice-butter"></i
              ><span class="">Basement Renovation</span>
            </a>
          </li>
          <li>
            <a
              alt="Bathroom Renovation companies and contractors in Toronto"
              href="/on/toronto/bathroom-renovation"
            >
              <i class="fa-solid fa-bread-slice-butter"></i
              ><span class="">Basement Renovation</span>
            </a>
          </li>
          <li>
            <a
              alt="Bathroom Renovation companies and contractors in Toronto"
              href="/on/toronto/bathroom-renovation"
            >
              <i class="fa-solid fa-bread-slice-butter"></i
              ><span class="">Basement Renovation</span>
            </a>
          </li>
          <li>
            <a
              alt="Bathroom Renovation companies and contractors in Toronto"
              href="/on/toronto/bathroom-renovation"
            >
              <i class="fa-solid fa-bread-slice-butter"></i
              ><span class="">Basement Renovation</span>
            </a>
          </li>
          <li>
            <a
              alt="Bathroom Renovation companies and contractors in Toronto"
              href="/on/toronto/bathroom-renovation"
            >
              <i class="fa-solid fa-bread-slice-butter"></i
              ><span class="">Basement Renovation</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="container">
        <div class="category-heading">Chimney Build &amp; Repair</div>
        <ul class="category-list">
          <li>
            <i class="fa-solid fa-bread-slice"></i>
            <a
              alt="Bathroom Renovation companies and contractors in Toronto"
              href="/on/toronto/bathroom-renovation"
            >
              <i class="fa-solid fa-bread-slice-butter"></i
              ><span class="">Basement Renovation</span>
            </a>
          </li>
          <li>
            <i class="fa-solid fa-bread-slice"></i>
            <a
              alt="Bathroom Renovation companies and contractors in Toronto"
              href="/on/toronto/bathroom-renovation"
            >
              <i class="fa-solid fa-bread-slice-butter"></i
              ><span class="">Basement Renovation</span>
            </a>
          </li>
          <li>
            <i class="fa-solid fa-bread-slice"></i>
            <a
              alt="Bathroom Renovation companies and contractors in Toronto"
              href="/on/toronto/bathroom-renovation"
            >
              <i class="fa-solid fa-bread-slice-butter"></i
              ><span class="">Basement Renovation</span>
            </a>
          </li>
          <li>
            <i class="fa-solid fa-bread-slice"></i>
            <a
              alt="Bathroom Renovation companies and contractors in Toronto"
              href="/on/toronto/bathroom-renovation"
            >
              <i class="fa-solid fa-bread-slice-butter"></i
              ><span class="">Basement Renovation</span>
            </a>
          </li>
          <li>
            <i class="fa-solid fa-bread-slice"></i>
            <a
              alt="Bathroom Renovation companies and contractors in Toronto"
              href="/on/toronto/bathroom-renovation"
            >
              <span class="">Basement Renovation</span>
            </a>
          </li>
          <li>
            <i class="fa-solid fa-bread-slice"></i>
            <a
              alt="Bathroom Renovation companies and contractors in Toronto"
              href="/on/toronto/bathroom-renovation"
            >
              <span class="">Basement Renovation</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <footer-component></footer-component>
  </body>
  <script src="../components.js"></script>
</html>
