<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/Utilities.css" />
    <link rel="stylesheet" href="../css/contactUs.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <title>Home Star | Contact Us</title>
  </head>
  <body>
    <navbar-component></navbar-component>
    <div class="main">
      <aside>
        <li><a href="#first">For Service Pros</a></li>
        <li><a href="#second">For Homeowners</a></li>
        <li><a href="#third">Careers</a></li>
        <li><a href="#fourth">Press</a></li>
        <li><a href="#fifth">Partnership</a></li>
        <li><a href="#sixth">Corporate Address</a></li>
      </aside>
      <div class="container">
        <section id="first">
          <h1>First</h1>
        </section>
        <section id="second">
          <h1>second</h1>
        </section>
        <section id="third">
          <h1>third</h1>
        </section>
        <section id="fourth">
          <h1>fourth</h1>
        </section>
        <section id="fifth">
          <h1>fifth</h1>
        </section>
        <section id="sixth">
          <h1>sixth</h1>
        </section>
      </div>
    </div>
    <footer-component></footer-component>
    <script src="../components.js"></script>
  </body>
</html>
