<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/Utilities.css">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
        integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>HomeStars | Find Homes</title>
</head>
<body>
    <navbar-component></navbar-component>
    <section class="hero">
        <div class="container">
            <div class="flex">
                <h1 class="title">Get matched with local pros for our next home project.</h1>
                <p class="subtitle">Quickly get quotes from verified and reviewed pros</p>
                <form class="form">
                    <div class="row">
                        <div class="form-group">
                            <i class="fa-solid fa-magnifying-glass"></i>
                            <input type="text" name="service" id="service" list="services"
                                placeholder="What service do you need" aria-label="What service do you need" />
                        </div>
                        <div class="form-group">
                            <i class="fa-solid fa-location-dot"></i>
                            <input type="number" name="postalCode" id="postal-code" placeholder="Postal code"
                                aria-label="postal code" />
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn">Get Quote</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <datalist id="services">
            <option value="Roofing" />
            <option value="Window" />
            <option value="Plumbing" />
            <option value="Heating" />
            <option value="Electrician" />
        </datalist>
    </section>
    <section>
        <div class="para">
                    <p>Urgent Requests for Essential Services</p>
        </div>

        <div class="service">
            <i class="fa-solid colr fa-mobile-alt"></i><li><a href="https://homestars.com/get-quotes?task_id=39773&source=homepage">Appliance Repair</a></li>
            <i class="fa-solid colr fa-mobile-button"></i><li><a href="https://homestars.com/get-quotes?task_id=40113&source=homepage">Plumbing Repair</a></li>
            <i class="fa-solid colr fa-plug"></i><li><a href="https://homestars.com/get-quotes?task_id=40226&source=homepage">Electrical Repair</a></li>
            <i class="fa-solid colr fa-truck"></i><li></i><a href="https://homestars.com/get-quotes?task_id=40331&source=homepage">Moving Services</a></li>
            <i class="fa-solid colr fa-bacon"></i><li><a href="https://homestars.com/get-quotes?task_id=40391&source=homepage">Roofing Repair</a></li>
            <i class="fa-solid colr fa-tablet-android"></i><li><a href="https://homestars.com/get-quotes?category_id=376&source=homepage">Heating Repair</a></li>
        </div>
    </section>
        <div class="centerline"></div>
    <section class="browse">
        <h1>Browse Pros in Your Area</h1>
        <h3>See full list of companies reviewed by homeowners</h3>

        <div class="para">
            <p>Start Your Next Winter Project</p>
        </div>
    
        <div class="service">
            <i class="fa-solid colr fa-mobile-alt"></i>
            <li><a href="https://homestars.com/get-quotes?task_id=39773&source=homepage">Snow Removal</a></li>
            <i class="fa-solid colr fa-mobile-button"></i>
            <li><a href="https://homestars.com/get-quotes?task_id=40113&source=homepage">HVAC Services</a></li>
            <i class="fa-solid colr fa-plug"></i>
            <li><a href="https://homestars.com/get-quotes?task_id=40226&source=homepage">Chimney Repair & Build</a></li>
            <i class="fa-solid colr fa-truck"></i>
            <li></i><a href="https://homestars.com/get-quotes?task_id=40331&source=homepage">Fireplace</a></li>
            <i class="fa-solid colr fa-bacon"></i>
            <li><a href="https://homestars.com/get-quotes?task_id=40391&source=homepage">Handyman Services</a></li>
            <i class="fa-solid colr fa-tablet-android"></i>
            <li><a href="https://homestars.com/get-quotes?category_id=376&source=homepage">All Projects</a></li>
        </div>
    </section>
    <section class="hire">
        <div class="leftside">
            <div class="img">
                <img src="https://homestars.com/images/homepage/SP%20Listing%20Image@2x.png" alt="">
            </div>
        </div>
        <div class="rightside">
            <h1>Hire Verified and Reviewed Pros</h1>
            <h3>With reviews, ratings and Verification, HomeStars gives you the tools you need to hire with confidence.</h3>
            <p>Get matched with 3 pros directly or research yourself from a list of verified and reviewed pros</p>
            <p>Read reviews and browse project photos submitted by homeowners in your area.</p>
            <p>Pros with a Verified Badge have passed a credit check, criminal background check and are licensed.
                Learn more about Verification</p>
        </div>
    </section>
    <section class="hire">
        <div class="rightside">
            <h1>Get Matched with Local Pros</h1>
            <h3>Stop calling around. HomeStars sends pros straight to your inbox.</h3>
            <p>Chat directly with available pros interested in your project</p>
            <p>Discuss project details, costs and timelines</p>
            <p>Compare quotes and hire with confidence</p>
        </div>
        <div class="leftside">
            <div class="img">
                <img src="https://homestars.com/images/homepage/SP%20Listing%20Image@2x.png" alt="">
            </div>
        </div>
    </section>
    <section >
        <div class="cards">
            <img src="https://homestars.com/images/homepage/HO's%20love%20HS%20icon.png" alt="">
        </div>

            <div class="cardcontainer">

        <div class="testimonial-card">
            <img src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1287&q=80"
                alt="" class="testimonial-card__image">
            <p class="testimonial-card__body">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odio, dignissimos
                laudantium
                voluptates recusandae ut unde voluptatem vel blanditiis nihil odit!</p>
            <div class="testimonial-card__footer">
                <div class="testimonial-card__ratings">
                    <div class="stars-outer">
                        <div class="stars-inner"></div>
                    </div>
                </div>
                <p class="testimonial-card__name">Lorem, ipsum.</p>
                <p class="testimonial-card__location">lorem3</p>
            </div>
        </div>
        <div class="testimonial-card">
            <img src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1287&q=80"
                alt="" class="testimonial-card__image">
            <p class="testimonial-card__body">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odio, dignissimos
                laudantium
                voluptates recusandae ut unde voluptatem vel blanditiis nihil odit!</p>
            <div class="testimonial-card__footer">
                <div class="testimonial-card__ratings">
                    <div class="stars-outer">
                        <div class="stars-inner"></div>
                    </div>
                </div>
                <p class="testimonial-card__name">Lorem, ipsum.</p>
                <p class="testimonial-card__location">lorem3</p>
            </div>
        </div>
        </div>
<div class="cardcontainer">

        <div class="testimonial-card">
            <img src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1287&q=80"
                alt="" class="testimonial-card__image">
            <p class="testimonial-card__body">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odio, dignissimos
                laudantium
                voluptates recusandae ut unde voluptatem vel blanditiis nihil odit!</p>
            <div class="testimonial-card__footer">
                <div class="testimonial-card__ratings">
                    <div class="stars-outer">
                        <div class="stars-inner"></div>
                    </div>
                </div>
                <p class="testimonial-card__name">Lorem, ipsum.</p>
                <p class="testimonial-card__location">lorem3</p>
            </div>
        </div>
        <div class="testimonial-card">
            <img src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1287&q=80"
                alt="" class="testimonial-card__image">
            <p class="testimonial-card__body">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odio, dignissimos
                laudantium
                voluptates recusandae ut unde voluptatem vel blanditiis nihil odit!</p>
            <div class="testimonial-card__footer">
                <div class="testimonial-card__ratings">
                    <div class="stars-outer">
                        <div class="stars-inner"></div>
                    </div>
                </div>
                <p class="testimonial-card__name">Lorem, ipsum.</p>
                <p class="testimonial-card__location">lorem3</p>
            </div>
        </div>
</div>
    </section>
    <footer-component></footer-component>
</body>
<script src="../components.js"></script>
</html>