<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/Utilities.css" />
    <link rel="stylesheet" href="../css/newsLetter.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>News Letter Sign Up</title>
  </head>

  <body>
    <nav-component></nav-component>
    <div class="container">
      <div class="leftside">
        <div class="img">
          <a href="../index.html">
            <img
              src="https://storage.pardot.com/209902/79553/homestars_lead_driver_logo_2x.png"
              alt=""
            />
          </a>
        </div>
        <h1>Hire Right the First Time.</h1>
        <h3>Take control of your projects with help from HomeStars.</h3>
        <ul>
          <li>
            <p>Project cost guides</p>
          </li>
          <li>
            <p>Hiring tips</p>
          </li>
          <li>
            <p>Seasonal maintenance reminders</p>
          </li>
        </ul>
      </div>
      <div class="rightside">
        <div class="info">
          <form class="form">
            <h1>Get Exclusive Tips & Advice</h1>
            <input type="text" placeholder="First Name*" />
            <input type="text" placeholder="Last Name*" />
            <input type="email" placeholder="Email*" />
            <button>REGISTER NOW!</button>
            <p>
              By signing up to the HomeStars newsletter you accept the terms of
              use.
            </p>
          </form>
        </div>
      </div>
    </div>
    <footer-component></footer-component>
  </body>
  <script src="../components.js"></script>
</html>
